altgraph==0.17.5
bcrypt==5.0.0
certifi==2026.6.17
charset-normalizer==3.4.7
colorama==0.4.6
coloredlogs==15.0.1
flatbuffers==25.12.19
humanfriendly==10.0
idna==3.18
mpmath==1.3.0
mss==10.1.0
Nuitka==4.1.2
numpy==2.4.3
onnxruntime==1.20.1
opencv-python==4.13.0.92
packaging==26.2
pefile==2023.2.7
pillow==12.1.1
pip==26.1.2
protobuf==7.35.1
psutil==7.2.2
pyarmor==9.2.5
pyarmor.cli.core==8.1.1
pyclipper==1.4.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2026.6
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
pyreadline3==3.5.6
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.2
rapidocr-onnxruntime==1.4.4
requests==2.34.2
setuptools==82.0.1
shapely==2.1.2
six==1.17.0
sympy==1.14.0
tqdm==4.68.2
urllib3==2.7.0
